<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatabaseConnect</servlet-name>
        <servlet-class>Database.DatabaseConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ServerReact.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHealthStatus</servlet-name>
        <servlet-class>ServerReact.ViewHealthStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskConsult</servlet-name>
        <servlet-class>ServerReact.AskConsult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scan</servlet-name>
        <servlet-class>ServerReact.Scan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorAvailableList</servlet-name>
        <servlet-class>ServerReact.DoctorAvailableList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManage</servlet-name>
        <servlet-class>ServerReact.UserManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorMonitoring</servlet-name>
        <servlet-class>ServerReact.DoctorMonitoring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRegisteredPatients</servlet-name>
        <servlet-class>ServerReact.ShowRegisteredPatients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHealthStatus</servlet-name>
        <servlet-class>ServerReact.UpdateHealthStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServices</servlet-name>
        <servlet-class>ServerReact.GetServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorViewHealth</servlet-name>
        <servlet-class>ServerReact.DoctorViewHealth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccount</servlet-name>
        <servlet-class>ServerReact.RegisterAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetConsult</servlet-name>
        <servlet-class>ServerReact.GetConsult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsult</servlet-name>
        <servlet-class>ServerReact.ViewConsult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatabaseConnect</servlet-name>
        <url-pattern>/DatabaseConnect</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHealthStatus</servlet-name>
        <url-pattern>/ViewHealthStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskConsult</servlet-name>
        <url-pattern>/AskConsult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scan</servlet-name>
        <url-pattern>/Scan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorAvailableList</servlet-name>
        <url-pattern>/DoctorAvailableList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManage</servlet-name>
        <url-pattern>/UserManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorMonitoring</servlet-name>
        <url-pattern>/DoctorMonitoring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRegisteredPatients</servlet-name>
        <url-pattern>/ShowRegisteredPatients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHealthStatus</servlet-name>
        <url-pattern>/UpdateHealthStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServices</servlet-name>
        <url-pattern>/GetServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorViewHealth</servlet-name>
        <url-pattern>/DoctorViewHealth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccount</servlet-name>
        <url-pattern>/RegisterAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetConsult</servlet-name>
        <url-pattern>/GetConsult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsult</servlet-name>
        <url-pattern>/ViewConsult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
